html {
    background-image: url(./assets/images/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.logo_wrapper {
    padding-left: 161px;
    display: flex;
    justify-content: start;
}
.logo_image:hover {
background-color: #F26522;
}
.text_wrapper {
    padding-left: 8px;
}
.info_wrapper {
    padding-left: 800px;
    display: flex;
    justify-content: end;
    display: grid;
}
.milan {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 29px;
display: flex;
align-items: center;

color: #ffffff;
}
.milan:hover {
    color: #F26522;
}

.holidays {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;

display: flex;
align-items: center;

color: #ffffff;
}
.holidays:hover {
    color: #F26522;
}
.mail {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
.mail:hover {
    color: #F26522;
}
.phone {
    padding-left: 70px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
.phone:hover{
    color: #F26522;
}
.images-grid {
    grid-gap: 78px;
    display: grid;
    padding-left: 100px; 
    padding-top: 22px;
}

.img_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: aqua;
    width: 330px;
    height: 220px;

    background-image: url(./assets/images-grid/image\ \(5\).png);
}

.img_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: aqua;
    width: 330px;
    height: 220px;

    background-image: url(./assets/images-grid/image\ \(6\).png);
}
.img_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: aqua;
    width: 330px;
    height: 220px;

    background-image: url(./assets/images-grid/image\ \(4\).png);
}
.img_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: aqua;
    width: 330px;
    height: 220px;

    background-image: url(./assets/images-grid/image\ \(7\).png);
}
.img_5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: aqua;
    width: 330px;
    height: 220px;

    background-image: url(./assets/images-grid/image\ \(8\).png);
}
.img_6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: aqua;
    width: 330px;
    height: 220px;

    background-image: url(./assets/images-grid/image\ \(9\).png);
}
.hiden {
    opacity: 0;
    display: flex;
    justify-content: inline;
    text-indent: 70px;
    justify-content: baseline;
   
}

.hiden:hover {
    opacity: 1;
    background-color: #F26522;
    padding-bottom: 40px;

}
.text_2 {
    display: flex;
    justify-content: start;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
background-color: #F26522;

color: #FFFFFF;

}
.text_3 {
    display: flex;
    justify-content: end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #F26522;
    text-decoration: none;
}
.footer_type {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;



color: #FFFFFF;

}
footer {
display: flex;
justify-content: center;
padding-top: 90px;
}
