* {
    padding: 0;
    margin: 0;
}
header.header {
    padding: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;


}

nav.item {
    display: inline;
}

a.nav__link {
   margin-left: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;

}
div.poster-wrapper {
   padding-left: 70px;
    margin: 40px;
    border-width: 100%;
    
}

h2.title {
padding-left: 350px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;


color: #373737;

}

div.poster {
    
    padding-top:40px ;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 2.4px;

color: #373737;

}
div.under_poster {
    padding-top: 40px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 2.4px;

color: #373737;
}

div.button {

width: 191px;
height: 51px;
left: 544.5px;
top: 557px;

    background: #FF0000;
border-radius: 4px;
}
button.button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
/* or 100% */

display: flex;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;

color: #FFFFFF
}
footer.footer {
    padding-top: 40px;
    padding-left: 1000px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;

color: #373737;
}