@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.body {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1460px;
    margin: 0 15px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Circe';
}

.header__logo {
    width: 100%;
    max-width: 216px;
}

.header__connection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.header__call {
    color: #FFFFFF;
}

.call-decoration {
    color: #D6AF76;
}

.header__callback {
    margin-left: 39px;
    max-width: 218px;
    height: 50px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
}

.callback {
    color: #E4B564;
    margin-left: 10px;
}

.paragraph_1 {

    color: #FFFFFF;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px; padding-bottom: 30px;
    }
    .boxes__1 {
        display: flex;
        row-gap: 20px;
        column-gap: 20px;
        flex-wrap: wrap;
        height: fit-content;
    }

    main {
        background-color: #171717;
    }
    .title_h1 {
        font-size: 30px;
            color: #FFFFFF;
            padding-bottom: 30px;
        }

        .grid-boxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column: auto;
            gap: 30px;
            grid-auto-rows: 85px;
            background-color: #D6AF76;
        }
        .grid-boxes div {
            width: 100%;
        }
        .grid-item-1 {
            background: #0E0E0E;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        
        .grid-item-2 {
            background: #1F1F1F;;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        
        .grid-item-3 {
            background: #242424;;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
        }
        
        .grid-item-4 {
            background: #0A0909;;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 6;
            grid-row-end: 9;
        }
        
        
        .grid-item-5 {
            background: #0E0E0E;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        
        .grid-item-6 {
            background: #E4B564;;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 9;
        }
        .grid-item-7 {
            background: #1F1F1F;;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 9;
        }
        
        
        .partners__wrapper {
            width: 100%;
            max-width: 1920px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('../images/parallax-bg.jpeg');
            background-attachment: fixed;
            background-position: 50% 50%;
            background-size: cover;
        }
        
        .patners {
            width: 100%;
            max-width: 1460px;
            padding: 50px 15px 20px 15px;
            font-family: 'Gilam';
            font-weight: 400;
            font-size: 20px;
            color: white;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 80px repeat(2, 391px);
            grid-template-areas:
                'partners partners partners'
                'eid mavis estate'
                'estate2 set eid2'
            ;
        }
        
        .partners__description {
            grid-area: partners;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 50px;
            margin-bottom: 74px;
        }
        
        .all-projects {
            margin-left: 39px;
            width: 218px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #E4B564;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
        }
        
        .eid {
            background: rgba(99, 79, 44, 0.76);
            grid-area: eid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .mavis {
            background: rgba(232, 210, 171, 0.76);
            grid-area: mavis;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .mavis-logo__wrapper img:first-of-type {
            width: 100%;
            max-width: 60px;
        }
        
        .mavis-logo__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .mavis-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
        
        .adress-description {
            font-weight: 400;
        }
        
        .real-estate {
            background: rgba(228, 181, 100, 0.76);
            grid-area: estate;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .real-estate2 {
            background: rgba(228, 181, 100, 0.76);
            grid-area: estate2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .set-group {
            background: rgba(176, 140, 77, 0.76);
            grid-area: set;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .eid2 {
            background: rgba(99, 79, 44, 0.76);
            grid-area: eid2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .footer-wrapper {
            width: 100%;
            max-width: 1920px;
            min-height: 150px;
            background-color: #171717;
        }

        .second_grids {
            background-color: #71725c;
        }
        .title_h2 {
            color: #FFFFFF;
    font-size: 30px;
        }