* {
    padding: 0;
    margin: 0;
}


.container {
    position: relative;
    max-width: 1280px;
    font-family: 'Roboto';
    margin: 60px auto 0;
    padding-bottom: 54px;
}
main_container {
    position: relative;
    max-width: 1280px;
    font-family: 'Roboto';
    margin: 60px auto 0;
    padding-bottom: 54px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    padding-bottom: 38px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    
      
}
.title_decor {
    text-decoration: none;
    
    color:#4BCAFF
}

.nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: stretch;
    margin-top: 38px;
    background: #35444F;
}

.nav__list {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 72px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 40px;
    transition: 300ms;

}

.nav__link:hover {
    text-decoration: none;
    background: #222F3A;

}
.main_container {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}

.main__menu {
    text-decoration: none;
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 49px 0 0 0;
}

.menu__item {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 44px;
    width: 342px;
    height: 81px;
    color: #485863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    transition: 300ms;

}

.menu__item:hover {
    background: #DBDBDB;
    padding-left: 74px;
    color: black;

}
.main__content {
    width: 880px;

    display: flex;
    flex-direction: column;
    margin: 49px 0 0 0;
}

.img__wrapper {
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main__image {
    transition: 150ms;
}

.main__image:hover {
    transform: scale(1.1);

}

.image_description {
    padding-top: 37px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}

.under_description {
   padding-top: 34px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #2C2C2C;
}

.footer {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}
.footer__links {
    width: 875px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;


}

.footer__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 69px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    transition: 500ms;
    color: #000000;

}



.copyright {
    margin: 0 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.footer__item:hover {
    text-decoration: underline;
    color: #50b5e4;
}